doctype html
html(lang="en")
    head
        style
            include css\bootstrap.min.css
            include css\style.css
        title Team Service - API Documentation
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes")
    body
        script:src(js\jquery-3.3.1.min.js)
        script:src(js\popper.min.js)
        script:src(js\bootstrap.min.js)

        div(class='container')
            h1 Team Service - API Documentations
            p Provides API methods to manage Team and Team-Bot data.
            hr
            br
            table
                th Link
                th Method
                th Action
                th Type
                th Arguments
                th Return
                th Status
                th Description
                tr
                    td(class='td-left')
                        a(href=sampleList) List Teams
                    td Get
                    td Render List
                    td HTML
                    td(class='td-left') N/A
                    td(class='td-left') Teams
                    td Current
                    td(class='td-left') Renders a list of all available teams with some sample links.
                tr
                    td(class='td-left')
                        a(href=sampleGetAll) Get All
                    td Get
                    td Get All
                    td JSON 
                    td(class='td-left') N/A
                    td(class='td-left') Team
                    td Current
                    td(class='td-left') Returns all available teams.
                tr
                    td(class='td-left')
                        a(href=sampleGet) Get One
                    td Get
                    td Get
                    td JSON 
                    td(class='td-left') TeamID - number 
                    td(class='td-left') Team
                    td Current
                    td(class='td-left') Returns the team with the matching TeamID
                tr
                    td(class='td-left')
                        a(href=sampleGet) Add
                    td Get
                    td Insert
                    td JSON 
                    td(class='td-left') Team Data / Query
                    td(class='td-left') Result
                    td Current
                    td(class='td-left') Inserts new Ream record and returns result
                tr
                    td(class='td-left')
                        a(href=sampleGet) Update
                    td Get
                    td Update
                    td JSON 
                    td(class='td-left') TeamId?name | bot[1-5]
                    td(class='td-left') Result
                    td Current
                    td(class='td-left') Updates the given Team's information and returns result

